body{
  font-family:sans-serif;
  background-color: #292c3c;
  color: #fff;
  margin: 0px auto;
  width: 960px;
  text-align: center;
}

h1{
  font-size: 60px;
  text-shadow: 20px 20px 60px #42f4f1;
}

h1,
h2,
h3{
  text-align: center;
}

a{
  color: #42f4f1;
  text-decoration: none;
}

a:hover{
  color: green;
}

nav{
  color: #42f4f1;
  text-align: center;
  text-decoration: none;
}

nav{
  background-color: #3e414f;
  display: block;
  margin-bottom: 20px;
  margin-top: 30px;
  width: 100%;
}

nav{
  opacity: 0.8;
}

nav ul{
  margin: 0px;
  padding: 5px 30px;
}

nav li{
  display: inline;
  font-size: 20px;
  color: #42f4f1;
  padding: 5px 30px;
}

nav a{
  color: #42f4f1;
}

#body{
  width: 960px;
  height: auto;
}

#body{
  background-image: url("Images/sullybyebyemaybe.jpg");
  background-repeat: no-repeat;
  background-position: center;
}
